[Unit]
Description=Set memory/graphics clocks on a NVIDIA card
Wants=graphical.target
After=graphical.target
ConditionPathExists=/usr/bin/nvidia-smi

[Service]
Type=oneshot
User=root
WorkingDirectory=/tmp
ExecStart=/usr/bin/nvidia-smi -lmc 7001
ExecStart=/usr/bin/nvidia-smi -lgc 405,1785

[Install]
WantedBy=graphical.target
